<?xml version="1.0" encoding="UTF-8"?>
<ScriptConfig>

              <AOLORLDRLink>http://103.107.198.34:84/ldr/browse.w3p</AOLORLDRLink>
              <UserName>teratext</UserName>
              <Password>teratext</Password>
    <LDR>http://103.107.198.34:84/ldr/browse.w3p</LDR>

              
</ScriptConfig>